@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lemon&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(240, 242, 244, 1);
  color: rgba(8, 12, 26, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.q-header.is-open .q-header-background {
  left: 0;
}
.q-header-button-wrapper {
  margin-left: auto;
}
.q-header-icon {
  display: none;
}

.q-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.q-navigation-list.is-open {
  right: 0;
}
.q-header-icon-menu {
  display: block;
}

.q-header-icon-button.is-open .q-header-icon-menu {
  display: none;
}

.q-header-icon-button.is-open .q-header-icon-close {
  display: block;
}

.q-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 80px;
  background: rgba(19, 30, 78, 1);
}

.q-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(19, 30, 78, 1);
}
.q-header.is-open .q-header-background {
  left: 0;
}
.q-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.q-header-icon-menu {
  display: block;
}

.q-header-icon-button.is-open .q-header-icon-menu {
  display: none;
}

.q-header-icon-button.is-open .q-header-icon-close {
  display: block;
}

.q-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.q-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 32px;
  border-radius: 0px 0px 16px 16px;
  gap: 28px;
  background: rgba(19, 30, 78, 1);
}

.q-navigation-list.is-open {
  right: 0;
}

.q-navigation-link {
  font-family: Fredoka;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.q-navigation-link:hover,
.q-navigatioт-link:focus {
  color: rgba(3, 116, 215, 1);
}

.q-header.is-open {
  background-color: transparent;
}

.q-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .q-navigation-img {
    display: flex;
    margin-right: 230px;
  }
  .q-policy-terms-header-icon-menu {
    display: none;
  }

  .q-header {
    width: 100%;
    height: 80px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .q-header-background {
  }
  .q-header-icon-button {
    display: none;
  }
  .q-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .q-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 4px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .q-navigation-link {
    font-family: Fredoka;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 0px 15px;
    text-decoration: none;
  }

  .q-navigation-item-desk {
    display: none;
  }
}
.q-home {
  width: 375px;
  height: 812px;
  padding: 100px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Hero.png");
  margin: auto;
}

.q-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}
.q-home-title-img {
  width: 307.5082092285156px;
  height: 166px;
}
.q-home-title {
  font-family: Lemon;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  padding: 16px 0 24px;
}

.q-home-text {
  font-family: Fredoka;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 250px;
}

.q-home-google-button-image {
  width: 180px;
  height: 57px;
}

.q-home-google-button-link:hover .q-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .q-home {
    width: 1440px;
    height: 759px;
    padding: 160px 626px 0 160px;
    background-image: url("/img/home/Hero\ \(1\).png");
  }
  .q-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .q-home-title-img {
    width: 442px;
    height: 239px;
  }
  .q-home-title {
    font-family: Lemon;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    padding: 20px 0 40px;
  }

  .q-home-text {
    font-family: Fredoka;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    padding-bottom: 40px;
  }
}
.q-why {
  width: 375px;
  margin: auto;
  padding: 40px 16px 0;
}

.q-why-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.q-why-item {
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}

.q-why-text-bold {
  font-family: Fredoka;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(3, 116, 215, 1);
}

.q-why-text {
  font-family: Fredoka;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-right: 4px;
}

@media screen and (min-width: 1200px) {
  .q-why {
    width: 1440px;
    padding: 80px 160px;
  }
  .q-why-list {
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .q-why-item {
    width: 352px;
    height: 147px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    border-radius: 16px;
  }

  .q-why-text-bold {
    font-family: Fredoka;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .q-why-text {
    font-family: Fredoka;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.q-about {
  padding: 40px 16px 0px;
  margin: auto;
  width: 375px;
  height: 971px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Game\ Description.png");
}

.q-about-title {
  font-family: Lemon;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(38, 56, 129, 1);
}

.q-about-text {
  font-family: Fredoka;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  padding: 56px 24px 0;
}

@media screen and (min-width: 1200px) {
  .q-about {
    padding: 80px 664px 0 160px;
    width: 1440px;
    height: 573px;
    background-image: url("/img/Game\ Description\ \(1\).png");
  }
  .q-about-title {
    font-family: Lemon;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .q-about-text {
    font-family: Fredoka;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 96px 0px 0 24px;
  }
}

.q-characters {
  padding: 40px 16px 0;
  margin: auto;
  width: 375px;
  height: 810px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Main\ Characters.png");
}

.q-characters-list {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  padding: 40px 0 0px 25px;
}

@media screen and (min-width: 1200px) {
  .q-characters {
    padding: 80px 640px 0 160px;
    width: 1440px;
    height: 526px;
    background-image: url("/img/Main\ Characters\ \(1\).png");
  }
  .q-characters-list {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    padding: 80px 0 0px 30px;
  }
}

.q-reviews {
  width: 375px;
  height: 732px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/Reviews.png");
}

.q-reviews-list {
  padding: 84px 0 16px;
}

.q-reviews-item {
  margin: 0 5px;
  width: 343px;
  height: 156px;
}

.q-reviews-text-bold {
  font-family: Fredoka;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(3, 116, 215, 1);
  height: 108px;
}

.q-reviews-text {
  font-family: Fredoka;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 24px;
}

.q-gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 31px;
}

.q-gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.q-gallery-button:hover {
  scale: 120%;
}

@media screen and (min-width: 1200px) {
  .q-reviews {
    width: 1440px;
    height: 547px;
    padding: 80px 256px 0 160px;
    background-image: url("/img/Reviews\ \(1\).png");
  }
  .q-reviews-list {
    padding: 124px 0 0 576px;
  }

  .q-reviews-item {
    margin: 0 20px;
    width: 448px;
    height: 141px;
  }

  .q-reviews-text-bold {
    font-family: Fredoka;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;

    height: 90px;
  }

  .q-reviews-text {
    font-family: Fredoka;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;

    padding-top: 24px;
  }

  .q-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 31px;
  }
}

.q-gallery {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}

.q-gallery-list {
  width: auto;
  padding-top: 40px;
  margin: auto;
}

.q-gallery-item {
  width: 287.8388671875px;
  height: 526px;

  border-radius: 16px;

  overflow: hidden;
  position: relative;
  margin: 0 8px;
}

.q-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-next {
  right: 0px;
  display: none;
}
.slick-dots li {
  display: none;
}
@media screen and (min-width: 1200px) {
  .q-gallery {
    width: 1440px;
    padding: 80px 160px;
  }

  .q-gallery-item {
    width: 288px;
    height: 526px;

    border-radius: 16px;

    margin: 0 16px;
  }

  .q-gallery-list {
    padding: 61px 96px 16px;
    margin: auto;
  }
  .slick-prev:before {
    content: url("/img/gallery/1.png");
    display: flex;
  }
  .slick-next {
    display: block;
  }
  .slick-next:before {
    content: url("/img/gallery/11.png");
    display: flex;
    margin-left: -40px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin-left: -96px;
  }

  .slick-dots li {
    list-style: none;
    width: 16px;
    height: 16px;
    display: inline-block;
  }

  .slick-dots li button {
    width: 100%;
    height: 100%;
    border: none;
    background: url("/img/gallery/Pagination\ Dot\ \(2\).png") no-repeat
      center/cover;

    padding: 0;
    font-size: 0;
  }

  .slick-dots li button:before {
    display: none;
  }

  .slick-dots li.slick-active button {
    background: url("/img/gallery/Pagination\ Dot\ \(1\).png") no-repeat
      center/cover;
  }
}

.q-features {
  width: 375px;
  height: 931px;
  margin: auto;
  padding: 40px 16px 0px;
  background: url("/img/Key\ Features.png") no-repeat center/cover;
}

.q-features-list {
  display: flex;
  flex-direction: column;

  list-style-type: disc;
  padding: 312px 0 0px 25px;
}

.q-features-item {
  font-family: Fredoka;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(3, 116, 215, 1);
}
.q-features-text-bold {
  font-family: Fredoka;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(3, 116, 215, 1);
}
.q-features-text {
  font-family: Fredoka;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(8, 12, 26, 1);
}

@media screen and (min-width: 1200px) {
  .q-features {
    width: 1440px;
    height: 697px;
    padding: 80px 160px 0;
    background: url("/img/Key\ Features\ \(1\).png") no-repeat center/cover;
  }
  .q-features-list {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    padding: 80px 0 0px 490px;
  }

  .q-features-item {
    font-family: Fredoka;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .q-features-text-bold {
    font-family: Fredoka;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .q-features-text {
    font-family: Fredoka;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.q-policy-terms-container {
  padding: 120px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Fredoka;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.q-policy-terms-title {
  font-family: Lemon;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(38, 56, 129, 1);
}

.q-policy-terms-text {
  padding-top: 20px;
  font-family: Fredoka;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
}

.q-policy-terms-texts {
  padding-top: 8px;
}

.q-policy-terms-text-one {
  padding-top: 20px;
}

.q-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.q-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.q-email-link {
  color: inherit;
  text-decoration: none;
}

.q-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .q-policy-terms-container {
    padding: 160px 160px 80px;
    width: 1440px;
    font-family: Fredoka;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .q-policy-terms-title {
    font-family: Lemon;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .q-policy-terms-text {
    padding-top: 40px;
    font-family: Fredoka;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .q-policy-terms-text-one {
    padding-top: 30px;
  }

  .q-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.q-footer {
  width: 375px;
  margin: auto;
  color: rgba(255, 255, 255, 1);
  background: rgba(19, 30, 78, 1);

  padding: 40px 0px 16px;
}

.q-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.q-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.q-footer-text {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: Fredoka;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.q-footer-copyright {
  font-family: Fredoka;
  font-weight: 300;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .q-footer {
    width: 1440px;
    padding: 40px 0 16px;
  }

  .q-footer-text {
    font-family: Fredoka;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .q-footer-copyright {
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.q-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 32px;
  border-radius: 24px;
  background: rgba(19, 30, 78, 1);

  z-index: 1000;
  display: none;
}

.q-cookie-popup-text-two {
  font-family: Fredoka;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(241, 238, 233, 1);
}

.q-cookie-button-container {
  padding: 40px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.q-cookie-button {
  border: none;
  background-color: transparent;
  width: 256px;
  border-radius: 28px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid rgba(255, 255, 255, 1);
  font-family: Fredoka;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

#accept-cookies {
  background: rgba(255, 255, 255, 1);
  color: rgba(13, 14, 15, 1);
}

.q-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .q-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .q-cookie-popup-text-two {
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;

    width: 682px;
  }

  .q-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .q-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
